* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --cor-primaria: #cdcfd1;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  display: flex;
  height: 100vh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 1rem;
}

h3 {
  background-color: var(--cor-primaria);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

section > article {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

article > ul {
  list-style-type: none;
}

main > header {
  display: flex;
  justify-content: space-between;
}

aside > ul > li {
  padding: 1rem;
}

aside {
  background-color: var(--cor-primaria);
  display: none;
  width: 200px;
}

aside > img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

@media (width >= 768px) {
  main > button {
    margin: 0 3rem;
  }

  aside {
    display: block;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .login-container button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--cor-botao);
  cursor: pointer;
  margin: 0 auto;
}

}

/*DAQUI PARA BAIXO LOGIN*/

/* ( já tem na prática 01)  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  VARIÁVEIS  */
:root {
  --cor-primaria: #c62828;
  --cor-fundo: #f2f2f2;
  --cor-card: #ffffff;
  --cor-borda: #ddd;
  --cor-botao: #e0e0e0;
}

/*  BODY  */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cor-fundo);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*  CARD (MAIN)  */
.login-container main {
  background-color: var(--cor-card);
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  width: 100%;
  max-width: 400px;
}

/*  IMAGEM */
.login-container main img {
  display: block;
  margin: 0 auto 1rem;
  width: 80px;
}

/* TÍTULO */
.login-container main h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/*  LABEL */
.login-container label {
  display: block;
  margin-bottom: 0.3rem;
}

/*  INPUT  */
.login-container input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid var(--cor-borda);
  margin-bottom: 1rem;
}

/*  BOTÃO  */
.login-container button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: var(--cor-botao);
  cursor: pointer;
}

/*  FOOTER  */
.login-container footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
}


