.menu {
  width: 245px;
  background-color: #E9E9E9;
  padding: 16px;
}

.menu header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
}

.menu header h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.menu header img {
  width: 32px;
  height: 32px;
}

.menu ul {
  list-style: circle;
  padding-inline: 24px;
  margin: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.menu li {
  cursor: pointer;
  padding: 8px 0;
  transition: color 0.3s;
}

.menu li:hover {
  color: #555;
}

.menu a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #303030;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #e9e9e9;
}